parameters:
    level: 1
    paths:
        - .
    excludePaths:
        - vendor/
        - node_modules/
        - lib/
        - staging/
        - tests/
    ignoreErrors:
        - '#Class .+ not found#'
        - '#Constant .+ not found#'
        - '#Function .+ not found#'
